pkgbase = arch-chan-ai-assistant
	pkgdesc = Una asistente de IA nativa para Arch Linux con interfaz gráfica integrada
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/Dragoland/Arch-Chan-AI-assistant
	arch = x86_64
	license = MIT
	depends = python-pyside6
	depends = python-requests
	depends = python-psutil
	depends = whisper.cpp
	depends = piper-tts
	depends = sox
	depends = ollama
	depends = ddgr
	depends = kdialog
	depends = noto-fonts
	depends = ttf-hack
	depends = git
	depends = base-devel
	makedepends = python-setuptool
